# Datenbank
POSTGRES_DB=minierp
POSTGRES_USER=minierp
POSTGRES_PASSWORD=change_me_in_production

# Backend
SECRET_KEY=change_me_in_production_generate_with_openssl_rand_hex_32
FIRST_SUPERUSER_EMAIL=admin@localhost
FIRST_SUPERUSER_PASSWORD=change_me

# Frontend-Port
FRONTEND_PORT=3000
DEV_PORT=5173

# Externe Services (optional)
OLLAMA_URL=http://ollama:11434
GOTENBERG_URL=http://gotenberg:3000

# n8n (Profile: automation)
N8N_USER=admin
N8N_PASSWORD=change_me
N8N_PORT=5678
N8N_DB=n8n

# Paperless-ngx
PAPERLESS_URL=http://10.10.0.26:8000
PAPERLESS_TOKEN=change_me
VITE_PAPERLESS_URL=http://10.10.0.26:8000
